<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис обмена книгами</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header class="header_1">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="home.html" th:href="@{/home}" class="header_logo-link">
                        <img src="img/svg/logo.svg" alt="Сервис обмена книгами" class="header_logo-pic">
                    </a>
                    <h1 class="title">Сервис обмена книгами</h1>
                </div>
                <nav th:if="${!isAuthorized}" class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="./login.html" th:href="@{/login}" class="header_link">Авторизация</a>
                        </li>
                        <li class="header_item">
                            <a href="./registration.html" th:href="@{/registration}" class="header_link">Регистрация</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper_basic">
                <div class="header_logo">
                </div>
                <nav class="header_nav_list">
                    <ul class="header_list_basic">
                        <a href="home.html" th:href="@{/home}" class="button_header_1">Главная</a>
                        <a href="go_trade.html" th:href="@{/go_trade}" class="button_header_2">Начать обмен</a>
                        <a href="my_trades.html" th:href="@{/my_trades}" class="button_header_3">Мои обмены</a>
                        <a href="aaq.html" th:href="@{/aaq}" class="button_header_3">Задать вопрос</a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="trade">
        <div class="main-trade">

        </div>
    </main>
</body>

</html>