<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис обмена книгами</title>
    <link rel="stylesheet" href="./styles/style.css">
    <script th:src="@{/js/script.js}" defer></script>
</head>

<body>
    <header class="header_1">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="home.html" th:href="@{/home}" class="header_logo-link">
                        <img src="img/svg/logo.svg" alt="Сервис обмена книгами" class="header_logo-pic">
                    </a>
                    <h1 class="title">Сервис обмена книгами</h1>
                </div>
                <a th:if="${isAuthorized}" href="#" class="profile_card_home">
                    <div>
                        <img th:src="${b64uAvatar}" alt="" id="imageprofile" class="image_profile">
                    </div>
                    <div>
                        <div class="username" id="userName" th:text="${uName}">Смелый заяц</div>
                        <div class="rating" id="rating" th:text="Рейтинг + ' ' + ${uRating}">Рейтинг 2</div>
                    </div>
                    <div id="exit-btn" class="exit_button">
                        <div class="exit_button">
                            <i class="fa-solid fa-door-open"></i>
                            <div>Выйти</div>
                        </div>
                    </div>
                </a>
                <nav th:unless="${isAuthorized}" class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="./login.html" th:href="@{/login}" class="header_link">Авторизация</a>
                        </li>
                        <li class="header_item">
                            <a href="./registration.html" th:href="@{/registration}" class="header_link">Регистрация</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper_basic">
                <div class="header_logo">
                </div>
                <nav class="header_nav_list">
                    <ul class="header_list_basic">
                        <a href="home.html" th:href="@{/home}" class="button_header_1">Главная</a>
                        <a href="go_trade.html" th:href="@{/go_trade}" class="button_header_2">Начать обмен</a>
                        <a href="my_trades.html" th:href="@{/my_trades}" class="button_header_3">Мои обмены</a>
                        <a href="aaq.html" th:href="@{/aaq}" class="button_header_3">Задать вопрос</a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div th:if="${!isAuthorized}" id="notification-popup" class="notification">
        <div class="okno">
            Данный раздел доступен только авторизованному пользователю!
        </div>
        <div class="close" id="close-popup">
            <i class="fa-regular fa-circle-xmark fa-xl"></i>
        </div>

    </div>
    <section class="main-question">
        <div class="question_wrap">
            <h2 class="blank_title">
                Обратная связь
            </h2>
            <div class="question_box">
                <form action="">
                    <p>Задать вопрос<Br>
                        <textarea class="question_area" name="ask_question" placeholder="Ваш вопрос..."></textarea>
                    </p>
                    <p><input class="question_btn" type="submit" value="Отправить">
                        <input class="question_btn" type="reset" value="Очистить">
                    </p>
                </form>

            </div>

        </div>
    </section>

    <script src="https://kit.fontawesome.com/9abefbbb2a.js" crossorigin="anonymous"></script>
</body>

</html>