<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис обмена книгами</title>
    <link rel="stylesheet" href="styles/style.css">
    <script th:src="@{/js/script.js}" defer></script>
</head>

<body>
    <header class="header_1">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="home.html" th:href="@{/home}" class="header_logo-link">
                        <img src="img/logo.png" alt="Сервис обмена книгами" class="header_logo-pic">
                    </a>
                    <h1 class="title">Сервис обмена книгами</h1>
                </div>
                <a th:if="${isAuthorized}" href="#" class="profile_card_home">
                    <div>
                        <img th:src="${b64uAvatar}" alt="" id="imageprofile" class="image_profile">
                    </div>
                    <div>
                        <div class="username" id="userName" th:text="${uName}">Смелый заяц</div>
                        <div class="rating" id="rating" th:text="Рейтинг + ' ' + ${uRating}">Рейтинг 2</div>
                    </div>
                    <div id="exit-btn" class="exit_button">
                        <div class="exit_button">
                            <i class="fa-solid fa-door-open"></i>
                            <div>Выйти</div>
                        </div>
                    </div>
                </a>
                <nav th:unless="${isAuthorized}" class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="./login.html" th:href="@{/login}" class="header_link">Авторизация</a>
                        </li>
                        <li class="header_item">
                            <a href="./registration.html" th:href="@{/registration}" class="header_link">Регистрация</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper_basic">
                <div class="header_logo">
                </div>
                <nav class="header_nav_list">
                    <ul class="header_list_basic">
                        <a href="home.html" th:href="@{/home}" class="button_header_1">Главная</a>
                        <a href="go_trade.html" th:href="@{/go_trade}" class="button_header_2">Начать обмен</a>
                        <a href="my_trades.html" th:href="@{/my_trades}" class="button_header_3" id="my-trades-href">Мои обмены</a>
                        <a href="aaq.html" th:href="@{/aaq}" class="button_header_3">Задать вопрос</a>
                </nav>
            </div>
        </div>
    </header>
    <div th:if="${!isAuthorized}" id="notification-popup" style="display: none;" class="notification">
        <div class="okno">
            Данный раздел доступен только авторизованному пользователю!
        </div>
        <div class="close" id="close-popup">
            <i class="fa-regular fa-circle-xmark fa-xl"></i>
        </div>
    </div>
    <main class="go-trade">
        <section class="main-trade">
            <div class="trade_wrap">
                <h2 class="blank_title">
                    Бланк обмена
                </h2>
                <div class="blank_strokes">
                    <a href="go_trade.html" th:href="@{/go_trade}"  class="address_blank_stroke_1">Хочу обменять</a>
                    <a href="go_get.html" th:href="@{/go_get}" class="address_blank_stroke_2">Хочу получить</a>
                    <a href="go_address.html" th:href="@{/go_address}" class="address_blank_stroke_3">Адрес доставки</a><!-- 
                    <div class="blank_stroke">Хочу обменять</div>
                    <div class="blank_stroke">Хочу получить</div>
                    <div class="blank_stroke">Адрес доставки</div> -->
                </div>
                <form th:action="@{/address_form}" method="post">
                <div class="blank_blocks">
                    <div class="address_left_column">
                        <div>Город*</div>
                        <input name="text" id="city" placeholder="Самара"/>
                        <div>Улица*</div>
                        <input name="text" id="street" placeholder="Название улицы"/>

                        <div class="address_bottom_block">
                            <div class="bottom_block_left">
                                <div>Строение*</div>
                                <input name="text" id="building" placeholder="номер"/>
                            </div>
                            <div class="bottom_block_right">
                                <div>Дом*</div>
                                <input name="text" id="home" placeholder="дом"/>
                            </div>
                            <div class="bottom_block_right">
                                <div>Квартира</div>
                                <input name="text" id="apartment" placeholder=""/>
                            </div>
                        </div>
                        <div class="left_column_index_input">
                            <div>Индекс*</div>
                            <input name="text" id="index" placeholder="индекс"/>
                        </div>


                    </div>
                    <div class="address_right_column">
                        <div>Фамилия*</div>
                        <input name="text" id="last_name" placeholder="Иванов"/>
                        <div>Имя*</div>
                        <input name="text" id="first_name" placeholder="Иван"/>
                        <div>Отчество(при наличии)</div>
                        <input name="text" id="surname" placeholder="Иванович"/>
                        
                    </div>
                </div>
                <div class="address_buttons_column">
                    <a href="go_get.html" th:href="@{/go_get}" class="address_left_button">Назад</a>
                    <input style="border: none; text-shadow: 3px 3px 3px #00000079; " type="submit" class="address_right_button" th:value="Подтвердить"/>
                </div>
                </form>
            </div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/9abefbbb2a.js" crossorigin="anonymous"></script>
</body>

</html>