<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис обмена книгами</title>
    <link rel="stylesheet" href="styles/style.css">
    <script th:src="@{/js/script.js}" defer></script>
</head>

<body>
    <header class="header_1">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="home.html" th:href="@{/home}" class="header_logo-link">
                        <img src="img/logo.png" alt="Сервис обмена книгами" class="header_logo-pic">
                    </a>
                    <h1 class="title">Сервис обмена книгами</h1>
                </div>
                <a th:if="${isAuthorized}" href="#" class="profile_card_home">
                    <div>
                        <img th:src="${b64uAvatar}" alt="" id="imageprofile" class="image_profile">
                    </div>
                    <div>
                        <div class="username" id="userName" th:text="${uName}">Смелый заяц</div>
                        <div class="rating" id="rating" th:text="Рейтинг + ' ' + ${uRating}">Рейтинг 2</div>
                    </div>
                    <div id="exit-btn" class="exit_button">
                        <div class="exit_button">
                            <i class="fa-solid fa-door-open"></i>
                            <div>Выйти</div>
                        </div>
                    </div>
                </a>
                <nav th:unless="${isAuthorized}" class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="./login.html" th:href="@{/login}" class="header_link">Авторизация</a>
                        </li>
                        <li class="header_item">
                            <a href="./registration.html" th:href="@{/registration}" class="header_link">Регистрация</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper_basic">
                <div class="header_logo">
                </div>
                <nav class="header_nav_list">
                    <ul class="header_list_basic">
                        <a href="home.html" th:href="@{/home}" class="button_header_1">Главная</a>
                        <a href="go_trade.html" th:href="@{/go_trade}" class="button_header_2">Начать обмен</a>
                        <a href="my_trades.html" th:href="@{/my_trades}" class="button_header_3" id="my-trades-href">Мои обмены</a>
                        <a href="aaq.html" th:href="@{/aaq}" class="button_header_3">Задать вопрос</a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div th:if="${!isAuthorized}" id="notification-popup" style="display: none;" class="notification">
        <div class="okno">
            Данный раздел доступен только авторизованному пользователю!
        </div>
        <div class="close" id="close-popup">
            <i class="fa-regular fa-circle-xmark fa-xl"></i>
        </div>
    </div>
    <main class="go-trade">
        <section class="main-trade">
            <div class="trade_wrap">
                <h2 class="blank_title">
                    Бланк обмена
                </h2>
                <div class="blank_strokes">
                    <a href="go_trade.html" th:href="@{/go_trade}" class="get_blank_stroke_1">Хочу обменять</a>
                    <a href="go_get.html" th:href="@{/go_get}" class="get_blank_stroke_2">Хочу получить</a>
                    <a href="go_address.html" th:href="@{/go_address}" class="get_blank_stroke_3">Адрес доставки</a>
                   
                </div>
                <form enctype="multipart/form-data" th:action="@{/go_get}" method="post">
                <div class="blank_blocks">
                    <div class="get_column">
                        <div class="category_title">Категории*</div>
                        <ul class="tree">
                            <li>
                                <details>
                                    <summary>Жанр</summary>
                                    <ul>
                                        <div  th:field="*{genre}" th:each="gen: ${genre}">
                                            <input type="checkbox" th:value="${gen.idCategory}" id="detective" name="source" value="detective">
                                            <label th:utext="${gen.name}"/>
                                        </div>
                                    </ul>
                                </details>
                                <details>
                                    <summary>Область наук</summary>
                                    <ul>
                                        <div  th:field="*{science_field}" th:each="sf: ${science_field}">
                                            <input type="checkbox" th:value="${sf.idCategory}" id="detective" name="source" value="detective">
                                            <label th:utext="${sf.name}"/>
                                        </div>
                                    </ul>
                                </details>
                                <details>
                                    <summary>Состояние</summary>
                                    <ul>
                                        <div  th:field="*{state}" th:each="st: ${state}">
                                            <input type="radio" th:value="${st.idCategory}" id="detective" name="source" value="detective">
                                            <label th:utext="${st.name}"/>
                                        </div>
                                    </ul>
                                </details>
                                <details>
                                    <summary>Обложка</summary>
                                    <ul>
                                        <div th:field="*{cover}" th:each="cv: ${cover}">
                                            <input type="radio" th:value="${cv.idCategory}" id="detective" name="source" value="detective">
                                            <label th:utext="${cv.name}"/>
                                        </div>
                                    </ul>
                                </details>
                                <details>
                                    <summary>Лауреат</summary>
                                    <ul>
                                        <div  th:field="*{laureate}" th:each="lau: ${laureate}">
                                            <input type="checkbox" th:value="${lau.idCategory}" id="detective" name="source" value="detective">
                                            <label th:utext="${lau.name}"/>
                                        </div>
                                    </ul>
                                </details>
                                <details>
                                    <summary>Экранизация</summary>
                                    <ul>
                                        <div  th:field="*{film_adaptation}" th:each="fm: ${film_adaptation}">
                                            <input type="checkbox" th:value="${fm.idCategory}" id="detective" name="source" value="detective">
                                            <label th:utext="${fm.name}"/>
                                        </div>
                                    </ul>
                                </details>
                                <details>
                                    <summary>Язык издания</summary>
                                    <ul>
                                        <div  th:field="*{publication_language}" th:each="pl: ${publication_language}">
                                            <input type="checkbox" th:value="${pl.idCategory}" id="detective" name="source" value="detective">
                                            <label th:utext="${pl.name}"/>
                                        </div>
                                    </ul>
                                </details>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="get_buttons_column">
                    <a href="go_trade.html" th:href="@{/go_trade}" class="get_left_button">Назад</a>
                    <input style="border: none; text-shadow: 3px 3px 3px #00000079; " type="submit" class="get_right_button" th:value="Далее"/>
                </div>
                </form>
            </div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/9abefbbb2a.js" crossorigin="anonymous"></script>
</body>

</html>