<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/registration.css">
    <script type="module" th:src="@{/js/registration.js}" defer></script>
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <h2 class="reg">Регистрация</h2>
                <form id="submit-form" th:action="@{/registration-attempt}" method="post" enctype="multipart/form-data">
                    <div class="notify" id="notify-box" th:if="${badData}" th:text="${errorMessage}">Что то у вас не
                        правильно!</div>
                    <div class="block_wrap">
                        <div class="input-box-top">
                            <div>Имя</div>
                            <input type="text" id="firstnameInput" th:name="firstname" placeholder="Иван"/>
                        </div>
                        <div class="input-box-top">
                            <div>Фамилия</div>
                            <input type="text" id="lastnameInput" th:name="lastname" placeholder="Иванов"/>
                        </div>
                        <div class="input-box-top">
                            <div>Отчество</div>
                            <input type="text" id="surnameInput" th:name="surname" placeholder="Иванович"/>
                        </div>
                    </div>
                    <div class="blank_blocks">
                        <div class="left_column">
                            <div class="input-box">
                                <div>Электронная почта</div>
                                <input type="text" id="emailInput" th:name="email"
                                    placeholder="Введите адрес свой электронной почты"/>
                            </div>
                            <div class="input-box">
                                <div>Ник</div>
                                <div class="nick_rand_column">
                                    <input type="text" id="usernameInput" th:name="userName"
                                        placeholder="Придумайте ник"/>
                                    <i class="fa-solid fa-dice" id="rnd-btn">Случайный ник</i>
                                </div>

                            </div>
                            <div class="input-box">
                                <div>Пароль</div>
                                <input type="password" id="pwdInput" th:name="password"
                                    placeholder="Создайте пароль"/>
                            </div>
                            <div class="input-box">
                                <div>Подтвердить пароль</div>
                                <input type="password" id="pwdconfirmInput" th:name="passwordConfirmStr"
                                    placeholder="Подтвердите пароль"/>
                            </div>
                            <div class="image_wrapper">
                                <label class="input-box-profile-photo">
                                    <div>Загрузите фото профиля(jpg, png, gif)</div>
                                    <div class="profile_photo_input">
                                        <input type="file" name="imageprofile" th:name="avatarFile"
                                            id="imageprofileInput" accept=".jpg, .jpeg, .png, .gif"/>
                                        <span>Выберите фото</span>
                                    </div>
                                </label>
                                <div id="preview-box" class="remove">
                                    <img id="uploadPreview" class="uploadPreview" />
                                    <span id="clear" class="remove_btn">Очистить</span>
                                </div>

                            </div>

                        </div>
                        <div class="right_column">
                            <div class="input-box">
                                <div>Город</div>
                                <input name="text" id="city" th:name="city" placeholder="Самара"/>
                            </div>
                            <div class="input-box">
                                <div>Улица</div>
                                <input name="text" id="street" th:name="street" placeholder="Название улицы"/>
                            </div>


                            <div class="address_bottom_block">
                                <div class="input-box">
                                    <div>Строение</div>
                                    <input name="text" id="building" th:name="building" placeholder="номер"/>
                                </div>
                                <div class="input-box">
                                    <div>Дом</div>
                                    <input name="text" id="home" th:name="home" placeholder="дом"/>
                                </div>
                                <div class="input-box">
                                    <div>Квартира</div>
                                    <input type="number" name="text" id="apartment" th:name="apartment"
                                        placeholder="номер"/>
                                </div>
                            </div>
                            <div class="input-box">
                                <div>Индекс</div>
                                <input type="number" name="text" id="index" th:name="index"
                                    placeholder="индекс"/>
                            </div>
                        </div>
                    </div>
                    <div class="blank_blocks_reg_button">
                        <div class="input-box button">
                            <input type="Submit" value="Зарегистрироваться">
                        </div>
                        <div class="text">
                            <h3> <a href="login.html" th:href="@{/login}">Уже регистрировались?</a></h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/9abefbbb2a.js" crossorigin="anonymous"></script>
</body>

</html>