<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервис обмена книгами</title>
    <link rel="stylesheet" href="../../styles/loading.css" th:href="@{/styles/loading.css}">
    <script type="text/javascript" th:src="@{/js/VKontakteAuth.js}" defer></script>
</head>

<body>
    <div class="background">
        <div class="blur"></div>

        <body>
            <div class="water"></div>
        </body>
    </div>
</body>

</html>